# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log

# user settings
local_settings.py

#Session
!Session

# Database
db.sqlite3
db.sqlite3-journal

# Settings
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
.python-version 

# Secrets
#ENV_VARS.json

