<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <title>{% block title %}{{ project_name }}{% endblock %}</title> <!-- Blocks will default to the code/text in them, but can be overwritten -->
</head>

<body>


  <div class="container">
    {% block page_content %}{% endblock %}
  </div>

  <script src="{% static 'bootstrap/js/jquery.3.7.0.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script> <!--includes Popper-->

  {% block script_content %}{% endblock %} <!-- used to import custom scripts

</body>

</html>